* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

.pages {
  color: #000000;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 10%;
}

html {
  scroll-behavior: smooth;
}

.pages {
  display: flex;
  flex-direction: column;
}

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
